# Dependencies
node_modules/

# Next.js
.next/
out/

# Debug / OS
npm-debug.log*
.DS_Store
Thumbs.db

# Env (secrets)
.env
.env*.local

# IDE
.idea/
.vscode/
*.swp

# Turbo / Vercel
.turbo/
.vercel
out/
